body {
  font-family: 'Roboto', sans-serif;
}
.jumbotron {
  text-align: center;
}
#robot {
  padding-left: 40px;
}
#beep-boop {
  padding-top: 40px;
  text-align: center;
}
#result {
  padding-bottom: 100px;
}
